includes:
    - vendor/craftcms/phpstan/phpstan.neon
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
    excludePaths:
        analyseAndScan:
            - src/Ledge.php
            - src/controllers/HealthController.php
